<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0-B4</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{982.0,1879.0}</string>
        <key>name</key>
        <string>particle_spritesheet</string>
        <key>textureFileName</key>
        <string>particle_spritesheet-ipadhd.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>background_column_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{745.0,1536.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{745.0,1536.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{745.0,1536.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,0.0},{745.0,1536.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>left_arrow_highlighted_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{233.0,138.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{233.0,138.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{233.0,138.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{747.0,423.0},{233.0,138.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>left_arrow_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{233.0,139.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{233.0,139.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{233.0,139.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{747.0,141.0},{233.0,139.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{747.0,563.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>okay_button_highlighted_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{296.0,148.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{296.0,148.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{296.0,148.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,1688.0},{296.0,148.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>okay_button_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{296.0,148.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{296.0,148.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{296.0,148.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{680.0,1538.0},{296.0,148.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>reset_button_highlighted_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{296.0,148.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{296.0,148.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{296.0,148.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,1538.0},{296.0,148.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>reset_button_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{296.0,148.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{296.0,148.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{296.0,148.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{298.0,1688.0},{296.0,148.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>right_arrow_highlighted_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{233.0,139.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{233.0,139.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{233.0,139.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{747.0,0.0},{233.0,139.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>right_arrow_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{233.0,139.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{233.0,139.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{233.0,139.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{747.0,282.0},{233.0,139.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>slider_bar_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{678.0,39.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{678.0,39.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{678.0,39.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,1838.0},{678.0,39.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>slider_circle_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{110.0,113.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{110.0,113.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{110.0,113.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{747.0,793.0},{110.0,113.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
