<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0-B4</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{491.0,940.0}</string>
        <key>name</key>
        <string>particle_spritesheet</string>
        <key>textureFileName</key>
        <string>particle_spritesheet-ipad.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>background_column_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{372.0,768.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{372.0,768.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{372.0,768.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,0.0},{372.0,768.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>left_arrow_highlighted_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{116.0,69.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{116.0,69.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{116.0,69.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{373.0,211.0},{116.0,69.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>left_arrow_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{116.0,69.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{116.0,69.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{116.0,69.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{373.0,70.0},{116.0,69.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{114.0,114.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{114.0,114.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{114.0,114.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{373.0,281.0},{114.0,114.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>okay_button_highlighted_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{148.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{148.0,74.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{148.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,844.0},{148.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>okay_button_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{148.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{148.0,74.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{148.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{340.0,769.0},{148.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>reset_button_highlighted_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{148.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{148.0,74.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{148.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,769.0},{148.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>reset_button_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{148.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{148.0,74.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{148.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{149.0,844.0},{148.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>right_arrow_highlighted_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{116.0,69.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{116.0,69.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{116.0,69.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{373.0,0.0},{116.0,69.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>right_arrow_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{116.0,69.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{116.0,69.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{116.0,69.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{373.0,141.0},{116.0,69.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>slider_bar_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{339.0,19.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{339.0,19.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{339.0,19.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{0.0,919.0},{339.0,19.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>slider_circle_ps.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{55.0,56.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{55.0,56.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{55.0,56.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{373.0,396.0},{55.0,56.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
